
'<img id="api_img" width="450" height="450" style="background-color: black;" src="/assets/images/fake_bridge.jpg" onError="Image_Error(this);"></img>'+
'<p style="font-size: 22;">Name: ' + point.name + '</p>' +
'<p style="font-size: 22; color:' + point.level + ';">Risk level: ' + Get_Level_Description(point.level) + '</p>' +
'<p style="font-size: 22;">Earthquake: ' + point.earthquake + '</p>' +
'<p style="font-size: 22;">Precipitation: ' + point.rainfall + '</p>' +
'<p style="font-size: 22;">Mudslide: ' + point.mudslide + '</p>' + 
'<p style="font-size: 22;">Date: ' + current_date + '</p>' + 
'<a style="font-size: 22;" href="#" onclick="show_3d();">3D Model</a> <a style="font-size: 22; right: 5%; position: absolute;" href="assets/pdf/data.pdf" target="_blank">Report</a>'